{% extends 'base.html' %}

{% block title %}Ingresar al Sistema{% endblock %}

{% block content %}
	<div class="page-header">
		<h2><a href="/">Bienvenido!</a></h2>
	</div>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button class="btn btn-primary btn-lg active" type="submit">Ingresar</button>
</form>
{% endblock %}
