{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  HOLA {{ user.username }}!
  <p><a href="{% url 'logout' %}">logout</a></p>
{% else %}
	<div class="page-header">
		<h5><a href="/">test-analytics</a></h5>
	</div>
  <br/>
  <br/>
<a href="{% url 'login' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Ingresar</a> 

<a href="{% url 'signup' %}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Registrarse</a>
{% endif %}
{% endblock %}
