{% extends 'base.html' %}

{% block title %}Formulario de Registro{% endblock %}

{% block content %}
<script id="CookieDeclaration" src="https://consent.cookiebot.com/9a18f011-c5e5-4657-823d-196a10879dfd/cd.js" type="text/javascript" async></script>
	<div class="page-header">
		<h2><a href="/">Ingrese sus datos</a></h2>
	</div>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary btn-lg active">Registrarse</button>
  </form>
{% endblock %}
